<div class="group-branch">
  <span class="title"><%= branch_group[0].name %></span>
  <div class="separator full"></div>
  <%= render partial: "branch", collection: branch_group[1], as: :branch %>
</div>
