<div class="col-md-12 col-lg-12">
  <hr class="mb-2">
  <div>
    <i class="fa fa-map-marker font-18" aria-hidden="true"></i>
    <span>
      <%= t ".branch" %>:
      <%= branch.name %> -
      <%= branch.full_address %>
    </span>
  </div>
</div>
