<table class="table">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>District</th>
    <th>City</th>
  </thead>
  <tbody>
    <%= render partial: :branch, collection: @branches, as: :branch %>
  </tbody>
</table>
