<%= form_for :q, url: center_branches_path, method: :get, remote: true,
  html: {class: "auto-submit-form"} do |f| %>
  <%= f.select :city_slug_eq, @support.active_branches_city_options,
    {include_blank: t(".select_city")} %>
<% end %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>District</th>
    <th>City</th>
  </thead>
  <tbody id="branch_list">
    <%= render partial: :branch, collection: @branches, as: :branch %>
  </tbody>
</table>
<%= render "shared/google_map/branches_map", branches: @branches %>
