<% content_for :cm_branches_activation, "active" %>
<div class="card user-setting-group">
  <div class="section-title-line">
    <h4><%= t ".edit_branch", name: @branch.name %></h4>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div>
          <%= t ".branch_name", name: @branch.name_was %>
        </div>
        <br/>
        <%= form_for [:management, @branch] do |f| %>
          <%= render "form", f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
