<li>
  <%= render "center", center: center_result[:center] %>
  <br/>
  <%= render "branch_results", search_form: search_form, branches: center_result[:branches], 
    center: center_result[:center] %> 
</li>
<hr/>
