<div class="form-group">
  <%= f.select :center_category_key_name_eq, support.center_category_options, 
    {}, class: "form-control center_category_filter" %>
</div>
<div class="form-group">
  <%= f.select :course_category_key_name_eq, support.course_category_options, 
    {include_blank: t(".select_course_category")}, 
    class: "form-control course_category_filter" %>
</div>
<div class="form-group">
  <%= f.select :course_sub_category_key_name_eq, support.course_sub_category_options,
    {}, multiple: true, class: "select2_districts select2_course_sub_categories" %>
</div>
