<% if centers.present? %>
  <div>
    <%= render partial: "center", collection: centers, as: :center,
      locals: {search_form: search_form} %>
  </div>
<% else %>
  <%= t ".not_found" %>
<% end %>
