<div class="row" style="margin-top: 100px;">
  <div class="col col-md-3 col-sm-3">
    <%= render "search_control", search_form: @search_form %>
  </div>
  <div class="col col-md-9 col-sm-9">
    <div class="sort_options">
      <ul class="nav nav-pills nav-justified">
        <%= render partial: "sort_option", collection: Center::SORT_OPTIONS, as: :option,
          locals: {search_form: @search_form} %>
      </ul>
    </div>
    <div id="center_search_result">
      <%= render "search_results", centers: @search.centers, search_form: @search_form %>
    </div>
    <div id="center_pagination">
      <%= paginate @search.centers, remote: true %>
    </div>
  </div>
</div>
