<% content_for :cm_edit_center_activation, "active" %>

<div class="card user-setting-group">
  <div class="section-title-line">
    <h4><%= t ".new_course" %></h4>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= form_for [:management, @center] do |f| %>
          <%= render "form", f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
