<% Settings.flash.each do |key, value| %>
  <% unless flash[key].blank? %>
    <div data-notify="container" class="col-xs-11 col-sm-4 alert animated fadeInDown alert <%= value %>" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1031; top: 20px; right: 20px; animation-iteration-count: 1;">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true" data-notify="dismiss">&times;</a>
      <span data-notify="icon"></span>
      <span data-notify="title"></span>
      <span data-notify="message">
        <%= content_for?(:flash_errors) ? yield(:flash_errors) : flash[key] %>
      </span>
      <a href="#" target="_blank" data-notify="url"></a>
    </div>
  <% end %>
<% end %>
