<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="row justify-content-lg-center">
        <div class="col-lg-6">
          <div class="footer-content text-center padding-ver-clear">
            <div class="logo-footer">
              <div id="logo" class="logo">
                <%= link_to root_path do %>
                  <h2 class="title logo-font text-center text-default">Classy</h2>
                <% end %>
              </div>
            </div>
            <p><%= t(".app_description")%></p>
            <div class="separator"></div>
            <ul class="list-inline mb-20">
              <li class=""><i class="text-default fa fa-map-marker pr-1"></i> Trường đại học FPT, Khu công nghệ cao Hòa Lạc, Hà Nội</li>
              <li class=""><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i> +84 963 260 895</a></li>
              <li class=""><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>classy.systems@gmail.com</a></li>
            </ul>
            <ul class="social-links circle animated-effect-1 margin-clear">
              <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
