<li>
  <span class="text-<%= rating_label avarage_rating.public_send "#{criterion}_avg" %> detail-point">
    <strong><%= avarage_rating_format avarage_rating.public_send "#{criterion}_avg" %></strong>
  </span></br>
  <span><%= Review.human_attribute_name criterion %></span>
</li>
