<tr>
  <td>
    <%= link_to course.name, center_course_path(course.route_params) %>
  </td>
  <td><%= course.full_categories %></td>
  <td><%= course.full_duration %></td>
  <td><%= currency_format course.tuition_fee %></td>
</tr>
