<div class="col-md-3 col-lg-3">
  <div class="user-setting-sidebar no-radius">
    <div class="list-group">
      <a href="./profile.html" class="list-group-item active">
        <i class="fa fa-user fa-fw"></i>
        <span>Cá nhân</span>
      </a>
      <%= link_to edit_my_page_profile_path, class: "#{content_for :edit_profile_activation} list-group-item " do %>
        <i class="fa fa-share-alt fa-fw"></i>
        <span>Thông tin cá nhân</span>
      <% end %>
      <%= link_to edit_my_page_account_path, class: "#{content_for :edit_account_activation} list-group-item " do %>
        <i class="fa fa-cloud fa-fw"></i>
        <span>Thông tin tài khoản</span>
      <% end %>
      <%= link_to edit_my_page_password_path, class: "#{content_for :edit_password_activation} list-group-item " do %>
        <i class="fa fa-key fa-fw"></i>
        <span>Mật khẩu</span>
      <% end %>
      <a href="./review.html" class="list-group-item">
        <i aria-hidden="true" class="fa fa-pencil-square-o fa-fw"></i>
        <span>Đánh giá</span>
      </a>
      <a href="./report.html" class="list-group-item">
        <i aria-hidden="true" class="fa fa-exclamation-triangle fa-fw"></i>
        <span>Báo cáo</span>
      </a>
      <%= link_to my_page_notifications_path, class: "#{content_for :notifications_activation} list-group-item " do %>
        <i aria-hidden="true" class="fa fa-bell fa-fw"></i>
        <span>Notification</span>
      <% end %>
    </div>
  </div>
</div>
