<div class="sort-options">
  <div class="collap-filter-nav review_filter">
    <%= form_for q, url: center_reviews_path(center.route_params), method: :get, remote: true,
      html: {class: "auto-submit-form"} do |f| %>
      <ul class="filter-nav mb-0 pl-0 text-center">
        <li class="pull-right m-1">
          <%= f.select :branch_slug_eq, support.branch_options, {include_blank: "Chọn chi nhánh"},
            class: "form-control" %>
        </li>
        <li class="pull-right m-1">
          <%= f.select :order_by, review_sorting_options, {}, class: "form-control" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
