<%= form_for @q, url: center_reviews_path(@center.route_params), method: :get, remote: true,
  html: {class: "auto-submit-form"} do |f| %>
  <%= f.select :sorts, review_sorting_options %>
<% end %>
<div id="review-list">
  <%= render partial: "shared/reviews/review", collection: @reviews, as: :review,
    locals: {display_branch: true} %>
</div>
