<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <b class="media-heading"><%= link_to comment.owner_name, comment.owner %></b>
    <p><%= comment.content %></p>
  </div>
</div>
<hr/>
