<%= text_area_tag :content, nil, class: "new-comment-content", placeholder: t(".add_comment_placeholder") %>
<%= button_tag t(".post"), data: {review: review.id}, class: "comment-review" %>
<div class="comment-error-messages"></div>
