<div class="banner dark-translucent-bg" style="background-image:url('https://s3-ap-southeast-1.amazonaws.com/classyy/fu-hl-2.jpg'); background-position: 50% 32%; min-height: 600px;">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center py-5">
        <h2 class="title object-non-visible animated object-visible fadeIn pt-5" data-animation-effect="fadeIn" data-effect-delay="100">Bạn là trung tâm ngoại ngữ?</h2>
        <div class="separator object-non-visible mt-10 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
          Liên hệ với chúng tôi để trở thành thành viên của hệ thống với nhiều ưu đãi!
          <ul class="list-icons">
            <li><i class="fa fa-map-marker pr-10 text-default"></i> Trường đại học FPT, Khu công nghệ cao Hòa Lạc, Hà Nội</li>
            <li><i class="fa fa-phone pr-10 text-default"></i> +84 963 260 895</li>
            <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>classy.systems@gmail.com</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
