//colors
@white: #ffffff;
@grey: #eeeeee;
@light-grey: #e6e6e6;
@dark-grey: #9f9f9f;
@darker-grey: #777777;
@light-black: #dddddd;
@green: #4CAF50;
@red: #F44336;
@cyan: #2aa4a5;


//font sizes
@base_font_size: 14px;

//font weight
@base_font_weight: 400;
