<div id="response-report-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".response_report" %></h4>
      </div>
      <div class="response-report-form">
        <%= render "response_report_form", report: @report, status: params[:status] %>
      </div>
    </div>
  </div>
</div>
