.classy-filter {
  background: #F4F3F2;
  .classy-filter-ele {
    margin-top: 10px;
    .dropdown-toggle, .dropdown-menu {
      width: 100%;
    }
  }
}
@media (min-width: 768px) {
  .classy-filter {
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  .fix-index-wrapper {
    padding-left: 0;
  }
}
.classy-tag {
  .title {
    font-size: 15px;
    font-weight: bold;
    color: #333;;
  }
  .body {
    max-height: 300px;
    overflow-y: scroll;
    button {
      margin-top: 10px;
    }
  }
}
.classy-search {
  margin-top: 10px;
  background: #fff;
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.06);
  .classy-search-header {
    .title {
      font-size: 25px;
      margin: 0;
      a {
        color: #333;
      }
    }
    .branch-search-wrapper {
      padding: 10px 0px 10px 10px;
      transition: all 0.5s;
      .name {
        span {
          color: #8d8d8d;
          font-weight: 400;
          font-size: 18px;
        }
      }
      .body {
        font-size: 16px;
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .branch-search-wrapper:hover {
      box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.75);
      transform: translateY(-5px);
    }
  }
}
