section#content-container {
  min-height: 300px;
}

#logo a {
  text-decoration: none;
}

.footer h2.title {
  font-size: 30px;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link, ul.pager .page-item .page-link, ul.pagination .page-item .page-link {
  min-width: 50px;
  min-height: 50px;
  line-height: 49px;
}

.btn-new-report {
  padding-left: 15px
}

.review-content {
  width: 100%;
  max-width: 100%;
}

p {
  word-break: break-word;
}

.reviews-list .comment.new-comment button {
  z-index: 200;
  margin-top: 0px;
}
