<div id="report-modal" class="modal fade" role="dialog">
  <div class="report-error-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t ".report" %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="report-form">
        <%= render "shared/reports/report_form", report: @report %>
      </div>
    </div>
  </div>
</div>
