<div class="list-group">
  <%= link_to t(".home_page"), center_path(center.route_params),
    class: "list-group-item #{content_for :center_home_page_activation}" %>
  <%= link_to t(".reviews"), center_reviews_path(center.route_params),
    class: "list-group-item #{content_for :center_reviews_activation}" %>
  <%= link_to t(".branches"), center_branches_path(center.route_params),
    class: "list-group-item #{content_for :center_branches_activation}" %>
  <%= link_to t(".courses"), center_courses_path(center.route_params),
    class: "list-group-item #{content_for :center_courses_activation}" %>
</div>
